<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.csw.mapper.PurchaseMapper">
    <select id="getPurchasesByParam" parameterType="com.csw.common.vo.PurchaseQuery" resultType="com.csw.entity.Purchase">
        SELECT * FROM stockmanager.purchase
        <where>
            <if test="orderId != null">
                and orderId like '%' #{orderId} '%'
            </if>
            <if test="goodsId != null">
                and goodsId like '%' #{goodsId} '%'
            </if>
            <if test="name != null">
                and name like '%' #{name} '%'
            </if>
            <if test="startTime != null">
               and <![CDATA[
                    inTime >= #{startTime}
                ]]>
            </if>
            <if test="endTime != null">
                and <![CDATA[
                    inTime <= #{endTime}
                ]]>
            </if>
        </where>
    </select>

    <select id="getCounts" resultType="java.lang.Long">
        SELECT count(1) from stockmanager.purchase
    </select>

    <select id="getCountsBySum" resultType="java.lang.Long">
        SELECT sum(count) from stockmanager.purchase
    </select>

    <insert id="addPurchase" parameterType="com.csw.entity.Purchase">
        INSERT INTO stockmanager.purchase(orderId,goodsId,name,count,inTime,supplierName)
        VALUES (#{orderId}, #{goodsId}, #{name}, #{count}, #{inTime}, #{supplierName})
    </insert>

    <delete id="deletePurchaseByOrderIds">
        DELETE FROM stockmanager.purchase
        WHERE orderId
        IN
        <foreach  collection="array" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>
</mapper>